/*
  fonts
*/

@font-face {
  font-family: 'Parisienne';
  src: url("../fonts/Parisienne-Regular.ttf");
  font-family: 'Monsieur';
  src: url('../fonts/MonsieurLaDoulaise-Regular.ttf');
  font-family: 'Tangerine';
  src: url("../fonts/Tangerine-Regular.ttf"),
  url("../fonts/Tangerine-Bold.ttf");
  font-family: 'JosefinSlab';
  src:
  url('../fonts/JosefinSlab-Regular.ttf'),
  url("../fonts/JosefinSlab-Italic.ttf"),
  url('../fonts/JosefinSlab-Light.ttf'),
  url('../fonts/JosefinSlab-LightItalic.ttf'),
  url('../fonts/JosefinSlab-SemiBold.ttf'),
  url('../fonts/JosefinSlab-SemiBoldItalic.ttf'),
  url('../fonts/JosefinSlab-Thin.ttf'),
  url('../fonts/JosefinSlab-ThinItalic.ttf');
  
}

/*
  DIAGNOSTIC STYLING
*/

body {
  background: white;
  font-family: 'JosefinSlab';
  font-weight: bold;
  background-image: url('../img/Clouds-Stars-in-Sky-Wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: 0;
  outline: 1px dotted black;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 70em;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;

}

header,
footer {
  grid-column: 1 / span 7;
  background-color: #242038;
}

/** main **/
#long {
  grid-column: 2 / span 5;
}

#short {
  grid-column: 2 / span 3;
}
/**   **/

aside {
  grid-column: span 2;
}

#long,
#short,
aside {
  background-color: #BDBEA9
}
/************
HEADER
************/
header {

}

header > img {
  height: 30px;
  width: 140px;
  padding: 15px 0px 10px 30px;
}





/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
PLOT
************/
  p {
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 1.5em;
  }

  h2 {
    font-family: 'Parisienne';
    padding-bottom: 10px;
    font-size: 32px;
  }

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 120px;
}

section {
  display: flex;
  flex-direction: row;
}

/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/

/*tablet*/
@media (max-width: 1000px) {

  body {
    max-width: 100%;
  }

  #long {
    grid-column: 1 / span 7;
  }

  #short {
    grid-column: 1 / span 5;
  }
}


/*mobile*/
@media (max-width: 700px) {

  #long,
  #short,
  aside {
    grid-column: 1 / span 7;
  }
  
}