/*
  fonts
*/

@font-face {
  font-family: 'Parisienne';
  src: url("../fonts/Parisienne-Regular.ttf")
}

/*
  DIAGNOSTIC STYLING
*/
body {
  background: white;
}

* {
  outline: 1px dotted black;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
header {
  text-align: center;
}

h1 {
  font-family: Parisienne;
  font-size: 80px;
  color: #DAA520;

}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 100px;
}

section {
  display: flex;
  font-size: 20px;
}


/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}